<center>
	<h2>Welcome</h1>
	<hr>
	<br>
	<%= render 'carousel' %>
	<br>
	<hr>
</center>

<center>
	<h2>Facilities</h2>
	<br>
	<div class="btn-group-vertical">
		<%= link_to "List of Affiliated Laboratories",list_of_labs_path,class:"btn btn-default button" %><br>
		<%= link_to "List of Affiliated Hospitals","#",class:"btn btn-default button" %><br>
		<%= link_to "List of Affiliated Doctors",list_of_doctors_path,class:"btn btn-default button" %>
	</div>
</center>

