<center>
	<h2>Patient Details</h2>
	<hr>
	<br>
</center>

<%= render 'patients/patient', patient: @patient %>

<center>
	<hr>
	<%= link_to "Back",patient_d_info_path,class:"btn btn-default button" %>
</center>